/* #################### MAIN #################### */
* {
	font-family: 'Inconsolata', monospace;
	padding: 0;
}
html {
	height: 100%;
	overflow: scroll;
}
html body {
	height: 100%;
	background: #f9f9f9;
}

#main-content {
	transition: 0.5s;
	height: 100%;
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
	color: #0f0f0f;
}

canvas {
	position: absolute;
    transform: translateX(-22.5%);
	z-index: -100;
}

/* #################### PROFILE #################### */

section.profile{
	width: 30vw;
	max-width: 900px;
	display: inline;
}
section.profile > *{
	margin: auto;
	margin-top: 20px;
}
.profile > .socials{
    justify-content: center;
    display: flex;
    gap: 30px;
	margin-top: 40px;
}

.profile > .box{
	border: 1px solid black;
	width: 70%;
	padding: 15px;
	border-radius: 10px;
}

.socials > a{
	display: inline-block;
	background: red;
	width: 40px;
	height: 40px;
	border-radius: 360px;
	cursor: pointer;
}

/* #################### CONTENT #################### */

section.content{
	width: 65vw;
	display: flex;
	flex-wrap: wrap;
}
section.content > div{
	min-width: 175px;
	width: 50%;
}

section {
	border: 1px solid black;
	min-height: 90%;
	height: fit-content;
	margin: auto;
	min-width: 340px;
}

/* #################### GLOBE #################### */
.projects .details{
	width: 50%;
}

/* #################### MEDIA LAYOUT #################### */
@media screen and (max-width: 1079.9px){
	section.profile, section.content{
		width: 65vw;
		min-width: 400px !important;
	}
	section.content > div{
		min-width: 175px;
		width: 100%;
	}
}
